.bioSection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.3rem;
  align-items: center;
  margin: 2rem auto;
}
.headshot {
  order: 1;
  max-width: 360px;
  aspect-ratio: 1 / 1;   /* portrait box (3:4 ratio) */
  overflow: hidden;
  /* width: 100%; */
  /* display: flex;           centers the image inside */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100%; */
  /* background: pink; */
}
.headshot img {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 12px;
  object-fit: cover;
}
.bio {
  font-family: var(--font-family-poppins);
  padding: 0rem 0.2rem;
  color: var(--color-text-muted);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  line-height: 2rem;
  word-spacing: 3.5px;
  order: 2;
}

.aboutBtn {
  font-size: 0.75em;
  padding: 1em 1em;
  background-color: var(--color-background);
  border: 0px;
  letter-spacing: 0px;
  color: var(--colors-white);
  font-size: var(--font-size-small);
  transition: all 0.3s;
  font-weight: var(--font-weight-semibold);
}

.aboutBtn:hover {
  border: 0px solid transparent;
  border-radius: 6px;
  padding: 1em 1em;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.careerSection {
  font-family: var(--font-family-poppins);
  /* padding: 1.2rem 0.2rem 0.5rem 0.2rem; */
  color: var(--color-text-muted);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  line-height: 2rem;
  word-spacing: 3.5px;
  margin: 4.5rem 0rem;
}
.careerSection p {
  color: var(--colors-white);
  margin-bottom: 0rem;
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-semibold);
}
.career {
  margin: 1.2rem 0rem 2.2rem 0rem;
}
.career p {
  color: var(--colors-white);
  font-size: var(--font-size-small);
  margin-bottom: 0rem;
  font-weight: var(--font-weight-regular);
}

.career span strong {
  color: var(--color-text);
  font-size: var(--font-size-tooltip);
  text-decoration: underline;
}
.career span {
  color: var(--color-text-muted);
  font-size: var(--font-size-tooltip);
}

@media (min-width: 768px) {
  .bioSection {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
  }
}
@media (min-width: 1024px) {
  .bioSection {
      grid-template-columns: 0.7fr 1fr;
      gap: 1rem;
  }
}
