.header {
  margin: 0.5rem 0 0 0;
}
.section_layout {
  min-height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.start_section {
  font-size: var(--font-size-navbar);
  font-weight: 900;
  display: block;
  margin-bottom: 14px;
}

.start_section a {
  text-decoration: none;
  color: var(--color-yellow);
}

.end_section {
  display: flex;
  justify-content: center;
}
.nav_links {
  display: flex;
  gap: 4rem;
  list-style: none;
  font-size: var(--font-size-small);
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  scrollbar-width: none; /* Hide scrollbar (Firefox) */
  -ms-overflow-style: none; /* IE/Edge */
}

.nav_links::-webkit-scrollbar {
  display: none; /* Hide scrollbar (Chrome, Safari) */
}
.nav_links li {
  flex: 0 0 auto; /* Prevent shrinking, keeps items inline */
}

.nav_links button {
  font-weight: 700;
  padding: 0.5em 1em;
}

.nav_links a {
  text-decoration: none;
  color: var(--color);
}

.active {
  color: var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
}

.theme {
  border: none;
  background: var(--text-color);
  color: var(--bg-color);
  cursor: none;
  transition: background 0.3s ease, color 0.3s ease;
}

@media (min-width: 768px) {
  .header {
    padding-left: 1rem;
    padding-right: 1rem;
    /* margin: 0.5rem 0 0 0; */
  }
  .start_section {
    padding-left: 1rem;
    font-size: var(--font-size-navbar);
    font-weight: 900;
    margin-bottom: 0px;
  }
  .end_section {
    display: inline-block;
  }
  .nav_links {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-small);
    list-style-type: none;
  }
}
