.navbar {
  /* display: flex; */
  /* justify-content: space-between; */
  /* z-index: 1; */
}
.navbar_log {
  display: block;
  font-size: 2em;
  font-weight: 900;
  /* list-style: none; */
}

.navbar_log a {
  text-decoration: none;
  color: var(--color-text);
}

.nav_links {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.8em;
  font-weight: 700;
  /* font-size: clamp(2rem, 1rem + 10vw, 5rem); */
  list-style-type: none;
}

.nav_links button {
  font-size: 0.9em;
  font-weight: 700;
  padding: 0.5em 1em;
}

.nav_links a {
  text-decoration: none;
  color: var(--color-text);
}

.active {
  color: var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
}

.theme {
  border: none;
  background: var(--text-color);
  color: var(--bg-color);
  cursor: none;
  transition: background 0.3s ease, color 0.3s ease;
}

@media (max-width: 900px) {
  /* .hoverIndicator {
    display: none !important;
  } */
}
