/* .aboutBtn {
    margin-top: 1rem;
  font-size: 0.75em;
  padding: 1em 1em;
  background-color: var(--color-background);
  border: 0px;
  letter-spacing: 0px;
  color: var(--colors-white);
  font-size: var(--font-size-small);
  transition: all 0.3s;
  font-weight: var(--font-weight-semibold);
}

.aboutBtn:hover {
  border: 0px solid transparent;
  border-radius: 6px;
  padding: 1em 1em;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
} */

.aboutBtn {
    margin-top: 1rem;

  font-size: 0.75em;
  padding: 1em 1em;
  background-color: var(--color-background);
  border: 0px;
  letter-spacing: 1.2px;
  color: var(--colors-white);
  transition: all 0.3s;
}

.aboutBtn:hover {
  border: 0px solid transparent;
  border-radius: 6px;
  padding: 1em 1em;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}