.mainStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0.75rem;
  text-align: center;
}

.mainStyle h1 {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}

.mainStyle p strong {
  color: var(--colors-lightgray);
}
.mainStyle p {
  margin-bottom: 1.25rem;
  color: var(--color-text-muted);
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: var(--font-weight-light);
}

.viewBtn {
  font-size: 0.75em;
  padding: 1em 1em;
  background-color: var(--color-background);
  border: 0px;
  letter-spacing: 1.2px;
  color: var(--colors-white);
  transition: all 0.3s;
}

.viewBtn:hover {
  border: 0px solid transparent;
  border-radius: 6px;
  padding: 1em 1em;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

@media (min-width: 760px) {
  .mainStyle {
    padding: 3.75rem 1.25rem;
    /* width: 800px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    flex: 1 1; */
  }
}
