.mainStyle {
  display: flex;
  align-items: center;
  /* width: 100%; */
  justify-content: center;
  margin: 0 auto;
  flex: 1 1;
  overflow: hidden;
      /* padding: 2rem 0; */
}

.heading1 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h1);
}

.viewBtn {
  font-size: 0.75em;
  padding: 0.5em 2em;
  background-color: var(--color-bg);
  border: 0.5px solid var(--color-text);
  border-radius: 15px;
  color: var(--color-text);
  transition: background-color 1s;
}

.viewBtn:hover {
  background-color: var(--color-text);
  color: var(--color-bg);
  cursor: pointer;
}


@media (min-width: 760px) {
  .mainStyle {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    flex: 1 1;
  }
}
