@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./variables.css");

/* Reset some default browser styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* cursor: none; only if you're replacing cursor */
}

/* Set base font and background */
body,
nav,
footer,
h1,
h2,
h3,
p,
li,
a {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* body */
body {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-base);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: var(--line-height-default);
}

/* Layout wrapper */
.app-layout {
  width: 100%;
  max-width: var(--container-lg);
  margin: 0 auto;
  padding: 0 1rem;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* push footer to bottom */
}

.montserrat-heading {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* bold */
  font-style: normal;
}

.montserrat-body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* normal */
  font-style: normal;
}

.inter-body {
  font-family: var(--font-family-inter);
  padding: 1.2rem 0.2rem 0.5rem 0.2rem;
  color: var(--color-text-muted);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-morerelaxed);
}

/* Utility classes */

/* Scrollbar styling (optional) */
::-webkit-scrollbar {
  width: 8px;
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Remove list styles */
/* ul, ol {
    list-style: none;
} */

/* Remove link underline and set color */
/* a {
    text-decoration: none;
    color: inherit;
} */

/* Images responsive */
/* img {
    max-width: 100%;
    height: auto;
    display: block;
} */

/* Button styles reset */
/* button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
} */

/* Input and textarea reset */
/* input, textarea {
    font: inherit;
    border: none;
    outline: none;
    background: none;
} */
