.gradientHeadingDiv {
  display: block;
  color: var(--color-text);
  line-height: 26px;
}

.gradient_text {
  font-size: clamp(1rem, 0.75rem + 6vw, 4rem);
  background-image: linear-gradient(
    135deg,
    var(--color-cyan) 0%,
    var(--color-green) 100%
  ); /* orange → pink */
  -webkit-background-clip: text; /* Chrome, Safari */
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Firefox (with prefix in some versions) */
  color: transparent; /* fallback */
}

@media (min-width: 600px) {
  .gradientHeadingDiv {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    line-height: 55px;

}
}
